<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>微信支付</string>
		<key>icon</key>
		<string>wechat</string>
		<key>request</key>
		<string>http://119.29.102.184:85/api.php?method=addOrderInfoLog&amp;pid=35&amp;itemId=%1$@&amp;roleId=%2$@&amp;serverId=1&amp;accounts=sgb&amp;roleLevel=1&amp;gameQn=1&amp;channel_id=1&amp;sign=12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>支付宝支付</string>
		<key>icon</key>
		<string>alipay</string>
		<key>request</key>
		<string>http://119.29.102.184:85/api.php?method=addOrderInfoLog&amp;pid=36&amp;itemId=%1$@&amp;roleId=%2$@&amp;serverId=1&amp;accounts=sgb&amp;roleLevel=1&amp;gameQn=1&amp;channel_id=1&amp;sign=12</string>
	</dict>
</array>
</plist>
